[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
tinydb = "*"
pandas = "*"
altair = "*"
camelot-py = {extras = ["base"], version = "*"}
nameparser = "*"
numpy = "*"

[dev-packages]
watchdog = "*"
pytest = "*"

[requires]
python_version = "3.9"
