[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
tinydb = "*"
pandas = "*"
altair = "*"
numpy = "*"
rbo = "*"

[dev-packages]
watchdog = "*"
pytest = "*"
camelot-py = {extras = ["base"], version = "*"}
nameparser = "*"
unidecode = "*"
vega-datasets = "*"
bs4 = "*"
requests = "*"
nba-api = "*"
ghostscript = "*"

[requires]
python_version = "3.9"
